<div class="filterer"></div>
<div class="tablediv">
    <div class="backdropblur">
        <div class="thcontainer">
            <div>chinese</div>
            <div>pinyin</div>
            <div>english</div>
            <div>count</div>
            <div>
                <a
                    routerLink="/add"
                    routerLinkActive="active"
                    aria-label="add a new word"
                    title="add a new word"
                    ><div><img src="assets/plus.svg" alt="" /></div
                ></a>
            </div>
        </div>
    </div>
    <div class="faketbody">
        @for (item of items(); track $index) {
        <div class="tdcontainer" [class.even]="$index % 2 === 0">
            <div>{{ item[1] }}</div>
            <div>{{ item[2] }}</div>
            <div>{{ item[3] }}</div>
            <div>{{ item[4] }}</div>
            <div>
                <button
                    type="button"
                    (click)="deleteItem(item[0])"
                    aria-label="delete word"
                    title="delete word"
                >
                    <img src="assets/delete.svg" alt="" />
                </button>
            </div>
        </div>
        }

        <div class="tdcontainer" [class.even]="(items().length) % 2 === 0">
            <div>___</div>
            <div>___</div>
            <div>___</div>
            <div>___</div>
            <div>___</div>
        </div>
    </div>
</div>
