<div class="main-container">
    <div class="typing-container">
        <input
            type="text"
            id="typing-input"
            placeholder="EN"
            [ngModel]="userInputEnglish()"
            (ngModelChange)="userInputEnglish.set($event)"
            (keyup.enter)="onEnter()"
            autofocus
        />
        <img
            class="direction-icon"
            src="assets/arrowR.svg"
            alt="to"
        />
        <input
            type="text"
            id="typing-input"
            placeholder="CN"
            [ngModel]="userInputChinese()"
            (ngModelChange)="userInputChinese.set($event)"
            (keyup.enter)="onEnter()"
            autofocus
        />
    </div>
</div>
